.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 10px;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 240px;
}

.collapsed {
  margin-left: 80px; 
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.addButton:hover {
  background-color: #0056b3;
}
